flujo_reserva_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-cita",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "18edc4c4-c822-49c2-ae88-33ebb31fd4ae",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -550,
        80
      ],
      "webhookId": "e2aba6b4-10a4-4014-8afc-8e2710d02845"
    },
    {
      "parameters": {
        "operation": "search",
        "documentId": {
          "__rl": true,
          "value": "15yJuDpoCl_bSW4pGzytbuTYmbR3lCWV86BEOMZFVEz0",
          "mode": "list",
          "cachedResultName": "RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yJuDpoCl_bSW4pGzytbuTYmbR3lCWV86BEOMZFVEz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l04dUo9N8lMdqD_QIYyMcPCZT3k7Cr-MVsiwotm5tak/edit#gid=0"
        },
        "options": {}
      },
      "id": "buscar-reserva-id",
      "name": "Buscar Reserva",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -350,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nMYbjscW7LZI4fJ2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reserva-existe",
      "name": "¿Ya está ocupado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3.1,
      "position": [
        -150,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Este horario ya ha sido reservado. Por favor, selecciona otro.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        -100
      ],
      "id": "error-webhook-node",
      "name": "Error Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente corporativo. Escribe un texto breve y formal.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera un mensaje de confirmación de reserva de sala para {{ $node.Webhook.json.body.nombre }}, del área {{ $node.Webhook.json.body.area }}. La reserva es el {{ $node.Webhook.json.body.fecha }} desde las {{ $node.Webhook.json.body.horaStr }} hasta las {{ $node.Webhook.json.body.horaFinStr }}. Sé cordial, breve y profesional.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "b7bdfa8e-09d8-42e7-8305-f38a9e3a7986",
      "name": "Groq AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aGC1vopzXqT2jc0p",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15yJuDpoCl_bSW4pGzytbuTYmbR3lCWV86BEOMZFVEz0",
          "mode": "list",
          "cachedResultName": "RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yJuDpoCl_bSW4pGzytbuTYmbR3lCWV86BEOMZFVEz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l04dUo9N8lMdqD_QIYyMcPCZT3k7Cr-MVsiwotm5tak/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Correo": "={{ $('Webhook').item.json.body.correo }}",
            "Nombre Completo": "={{ $('Webhook').item.json.body.nombre }}",
            "Celular": "={{ $('Webhook').item.json.body.celular }}",
            "Área": "={{ $('Webhook').item.json.body.area }}",
            "Fecha Reserva": "={{ $('Webhook').item.json.body.fecha }}",
            "Hora de Inicio": "={{ $('Webhook').item.json.body.horaStr }}",
            "Hora Fin": "={{ $('Webhook').item.json.body.horaFinStr }}",
            "Duración (H)": "={{ $('Webhook').item.json.body.duracion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Celular",
              "displayName": "Celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Reserva",
              "displayName": "Fecha Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora de Inicio",
              "displayName": "Hora de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora Fin",
              "displayName": "Hora Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duración (H)",
              "displayName": "Duración (H)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "18ed545b-5ed6-402e-8e0a-33b9200d6c69",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        350,
        150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nMYbjscW7LZI4fJ2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dfuquene31@gmail.com",
        "subject": "Nueva Cita Agendada",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Confirmación Reserva de Sala</title>\n<style>\n    body {\n        font-family: Arial, sans-serif;\n        background-color: #f4f6f8;\n        margin: 0;\n        padding: 0;\n    }\n    .container {\n        max-width: 600px;\n        margin: 30px auto;\n        background-color: #ffffff;\n        border-radius: 10px;\n        overflow: hidden;\n        box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n    .header {\n        background-color: #0078D4; \n        color: white;\n        padding: 20px;\n        text-align: center;\n    }\n    .header h2 {\n        margin: 0;\n        font-size: 22px;\n    }\n    .content {\n        padding: 25px;\n        color: #333;\n    }\n    .info {\n        margin-bottom: 15px;\n        line-height: 1.6;\n    }\n    .label {\n        font-weight: bold;\n        color: #555;\n    }\n    .divider {\n        border-top: 1px solid #e5e7eb;\n        margin: 20px 0;\n    }\n    .summary {\n        background-color: #f9fafb;\n        padding: 15px;\n        border-radius: 8px;\n        font-size: 14px;\n        color: #444;\n        border-left: 4px solid #0078D4; \n    }\n    .footer {\n        text-align: center;\n        font-size: 12px;\n        color: #888;\n        padding: 15px;\n    }\n</style>\n</head>\n<body>\n\n<div class=\"container\">\n    <div class=\"header\">\n        <h2>🏢 Confirmación de Reserva de Sala</h2>\n    </div>\n\n    <div class=\"content\">\n        <div class=\"info\">\n            <span class=\"label\">Reservado por:</span><br>\n            {{ $node[\"Webhook\"].json.body.nombre }} ({{ $node[\"Webhook\"].json.body.area }})\n        </div>\n\n        <div class=\"info\">\n            <span class=\"label\">Correo / Contacto:</span><br>\n            {{ $node[\"Webhook\"].json.body.correo }} | Tel: {{ $node[\"Webhook\"].json.body.celular }}\n        </div>\n\n        <div class=\"info\">\n            <span class=\"label\">Fecha y Hora:</span><br>\n            {{ $node[\"Webhook\"].json.body.fecha }} <br>\n            De {{ $node[\"Webhook\"].json.body.horaStr }} a {{ $node[\"Webhook\"].json.body.horaFinStr }} ({{ $node[\"Webhook\"].json.body.duracion }} hora/s)\n        </div>\n\n        <div class=\"divider\"></div>\n\n        <div class=\"info\">\n            <span class=\"label\">Mensaje del sistema:</span>\n        </div>\n\n        <div class=\"summary\">\n            <!-- AQUÍ TOMA LO QUE RESPONDE LA IA -->\n            {{ $node[\"Groq AI Analysis\"].json.choices[0].message.content }}\n        </div>\n    </div>\n\n    <div class=\"footer\">\n        Sistema de Reservas Corporativas. Este mensaje fue generado automáticamente.\n    </div>\n</div>\n\n</body>\n</html>\n",
        "options": {}
      },
      "id": "5641071b-0df5-425a-9be9-7e6829004d12",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        600,
        150
      ],
      "webhookId": "74d9ec42-50c1-4336-b394-3720a543d39a",
      "credentials": {
        "gmailOAuth2": {
          "id": "trHAHC6psLbZa7SW",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        850,
        150
      ],
      "id": "aad0e8b8-ad1c-45cb-973e-222b98288f76",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Reserva": {
      "main": [
        [
          {
            "node": "¿Ya está ocupado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya está ocupado?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Analysis": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c5f1c29a3d363aefc30a12fa79b039688be9ad5320d4842ac2011121ef3ac50"
  }
}
